.Bullets
{
	list-style-type		: disc;
}

A: active
{
	color 				: #FF0000; /* Red */
	text-decoration		: underline;
}

A: visited
{
	color 				: #800080; /* Purple */
	text-decoration		: underline;
}

A: link
{
	color 				: #0000FF; /* Blue */
	text-decoration		: underline;
}

A.dropspot
{
	color				: #008000; /* Green */
	cursor				: hand;
	font-style			: italic;
}

A.expandspot
{
	color				: #008000; /* Green */
	cursor				: hand;
	font-style			: normal;
}

A.glossterm
{
	color				: #800000;
	cursor				: hand;
	font-style			: normal;
}

BODY
{
	background-color	: #ffffff;
	color				: #000000; /* Black */
	font-family			: "Calibri", "Segoe", serif;
	font-size			: 9.0pt;
}

CITE.glossterm
{
	color 				: maroon;
	cursor 				: hand;
	font-style 			: normal;
}

CITE.expandspot
{
	color 				: green;
	cursor				: hand;
	font-style 			: normal;
}

CODE
{
	background-color	: lightgrey;
	color 				: #000000; /* Black */
	direction			: ltr;
	text-align			: left;
	font-family			: "Courier New", monospace;
	font-size 			: 8.0pt;
	padding-top			: 5px;
	padding-right		: 10px;
	padding-bottom		: 5px;
	padding-left		: 10px;
}

DFN.collapsed
{
	color 				: #FF0000; /* Red */
	display 			: 'none';
	font-style 			: italic;
	font-weight 		: normal;
}

DFN.expanded
{
	color 				: #FF0000; /* Red */
	font-style 			: italic;
	font-weight 		: normal;
}

DFN.glosscollapsed
{
	color 				: #0000FF; /* Blue */
	display 			: 'none';
	font-style 			: italic;
	font-weight 		: normal;
}

DFN.glossexpanded
{
	color 				: #0000FF; /* Blue */
	font-style 			: italic;
	font-weight 		: normal;
}

EM
{
	color 				: #074985; /* Light Navy */
}

EM.dropspot
{
	color 				: green;
	cursor				: hand;
}

H1
{
	color				: #052D51; /* Navy */
	font-family 		: "Verdana", Sans-serif;
	font-weight			: bold;
	font-size			: 16.0pt;
	padding-bottom		: 10px;
}

H2
{
	color				: #052D51; /* Navy */
	font-family 		: "Verdana", Sans-serif;
	font-weight			: bold;
	font-size			: 12.0pt;
	padding-top			: 20px;
	padding-bottom		: 7px;
}

H3
{
	color				: #074985; /* Light Navy */
	font-family 		: "Arial", Sans-serif;
	font-weight			: bold;
	font-size			: 12.0pt;
	padding-top			: 15px;
	padding-bottom		: 5px;
}

H4
{
	color				: #800080; /* Purple */
	font-family 		: "Arial", Sans-serif;
	font-weight			: bold;
	font-size			: 12.0pt;
	padding-top			: 10px;
	padding-bottom		: 5px;
}

H5
{
	color				: #000000; /* Black */
	font-family 		: "Arial", Sans-serif;
	font-weight			: bold;
	font-size			: 12.0pt;
	padding-top			: 5px;
	padding-bottom		: 3px;
}

H6
{
	color				: #000000; /* Black */
	font-family 		: "Verdana", "Arial", Sans-serif;
	font-weight			: bold;
	font-size			: 9.0pt;
}

P
{
	color 				: #000000; /* Black */
	font-family			: "Calibri", "Segoe", serif;
	font-size 			: 10.0pt;
}

P.Highlight
{
	background-color 	: #FFFF80; /* Lime */
	color 				: #074985; /* Light Navy */
}

P.Preformatted
{
	color				: #000000; /* Black */
	font-size			: 9.0pt;
	font-family			: "Courier New", monospace;
	line-height			: normal;
	margin-bottom		: 10pt;
	margin-top			: 10pt;
	white-space			: nowrap;
	x-text-tab-stops	: repeat 1in;
}

PRE
{
	color 				: #000000; /* Black */
	margin 				: 10px; 
	padding 			: 10px; 
	white-space			: nowrap;
	x-text-tab-stops	: repeat 1in;
}

SAMP /* Sample data */
{
	background-color	: lightgrey;
	color 				: #000000; /* Black */
	direction			: ltr;
	text-align			: left;
	font-family			: "Lucida Console", monospace;
	font-size 			: 8.0pt;
	padding-top			: 5px;
	padding-right		: 10px;
	padding-bottom		: 5px;
	padding-left		: 10px;
}

SPAN.expandtext
{
	color				: #FF0000; /* Red */
	font-weight			: normal;
	font-style			: italic;
}

SPAN.glosstext
{
	color				: #0000FF; /* Blue */
	font-weight			: normal;
	font-style			: italic;
}

STRONG /* Strong emphasis */
{
	color				: #FF0000; /* Black */
	font-weight			: bold;
	font-style			: italic;
}

TABLE
{
	border				: 1px solid black;
	border-collapse		: collapse;
	cellpadding			: 2px; 
	cellspacing			: 0px; 
	width				: 95%;
}

TH, TD
{
	border				: 1px solid black;
}

THEAD
{
	background-color 	: silver;
	color 				: #000000; /* Black */
	font-family 		: "Arial", Sans-serif;
	font-weight			: bold;
	font-size 			: 9.0pt;
}

TBODY
{
	background-color 	: white;
	color 				: #000000; /* Black */
	font-family			: "Calibri", "Segoe", serif;
	font-size 			: 9.0pt;
}